{% load static %}


<head>
    <title >Movie Finder!</title>
    <link rel="stylesheet" href="{% static 'vote/style.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

</head>

<body class="body">
    <!-- <header class="nameHighlight centerText"> <a href="/vote/">Movie Finder! Welcome </a> </header> -->
<header>
    <img src="{% static 'images/icons8-movie-projector-100.png'%}">
    <nav>
        <ul>
            <li><a href="/vote/recommender/">Recommend me!</a>  </li>
            <li><a href="/vote/">Home</a></li>

        </ul>

    </nav>
</header>
    {% block movieList %}    
    {% endblock %}
</body>