{% extends "base.html" %}
{% load static %}

{% block movieList %}
        <!--list movies  -->
        {% if page_obj%}
            <ul>
                <div class="grid-container">
                    {% for movie in page_obj%}
                        <div>
                        <img src="{% static 'images/'%}{{movie.image_poster_name}}" heigh="150" width="150">                        
                        <li class="nameHighlight"><a href="/vote/{{ movie.id }}/">{{ movie.name }}</a>&nbsp;&nbsp; <a href="/vote/like/{{ movie.id }}/"><button type = "button" role="link" onclick = "alert('Welcome to GeeksforGeeks')"  class="fa fa-thumbs-up" style="font-size:30px;color:black;"></button></a> </li>     
                        <br>
                    </div>
                    {% endfor %}
                </div>
            </ul>
        {% else %}
            <p>No movies are available.</p>
        {% endif %}
        <!-- adds next/last page button -->
        <div class="pagination">
            <span class="step-links">
                {% if page_obj.has_previous %}
                    <a href="?page=1">&laquo; first</a>
                    <a href="?page={{ page_obj.previous_page_number }}">previous</a>
                {% endif %}
        
                <span class="current">
                    Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
                </span>
        
                {% if page_obj.has_next %}
                    <a href="?page={{ page_obj.next_page_number }}">next</a>
                    <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
                {% endif %}
            </span>
        </div>
{% endblock %}

